<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>new Question..</title>
<style>
.form {
	margin: 10px;
}
</style>
</head>
<body>
	<p>
		<a th:href="@{/}">-> home page</a>
	</p>
	<div class="form">
		Q)
		<form action="save" th:object="${question}" method="post">

			<textarea cols="100" rows="3" th:field="*{question}" />
			<br>
			<div>
				<div>
					A <input type="text" th:field="*{options[0]}" autocomplete="off">
				</div>
				<div>
					B <input type="text" th:field="*{options[1]}" autocomplete="off">
				</div>
				<div>
					C <input type="text" th:field="*{options[2]}" autocomplete="off">
				</div>
				<div>
					D <input type="text" th:field="*{options[3]}" autocomplete="off">
				</div>
			</div>
			<br>
			<div>
				Answer <input type="text" th:field="*{answer}" autocomplete="off">
			</div>
			<br> <input style="display: block" type="submit">
		</form>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</body>
</html>